* {
  margin: 0;
  padding: 0;
  background-color: #111111;
  font-family: "Noto Sans JP", sans-serif;
  color: aliceblue;
}

*::selection {
  color: aliceblue;
  background-color: #111111;
}

.title-area {
  text-align: center;
  padding: 200px;
  padding-top: 0;
}

.player-boxes {
  display: block;
  border: solid white;
  border-radius: 25px;
  padding: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}

#pname {
  background-color: white;
  color: black;
  border-radius: 10px;
  height: 25px;
  padding: 5px;
}

#pname::selection {
  color: blue;
  background: palegoldenrod;
}

.button {
  padding: 10px;
  width: fit-content;
  border: solid white;
  border-radius: 10px;
}
