.players-card {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  padding: 10px;
  justify-content: center;
}

button {
  height: fit-content;
}
